name: Terragrunt Pipeline

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  terragrunt-deploy:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        app:
          - app1
          - app2

    steps:
      # Step 1: Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: verify azure credentials
        run: |
            if [ -z "${{ secrets.AZURE_CREDENTIALS }}" ]; then
            echo "Azure credentials are not set. Please set the AZURE_CREDENTIALS secret.";
                exit 1;
            else
                echo "Azure credentials are set.";
            fi
      # Step 2: Azure Login basic authentication
      - name: Login to Azure
        uses: azure/login@v1
        with:
            creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Set Azure environment variables
        run: |
          echo "ARM_CLIENT_ID=$(echo '${{ secrets.AZURE_CREDENTIALS }}' | jq -r .clientId)" >> $GITHUB_ENV
          echo "ARM_CLIENT_SECRET=$(echo '${{ secrets.AZURE_CREDENTIALS }}' | jq -r .clientSecret)" >> $GITHUB_ENV
          echo "ARM_SUBSCRIPTION_ID=$(echo '${{ secrets.AZURE_CREDENTIALS }}' | jq -r .subscriptionId)" >> $GITHUB_ENV
          echo "ARM_TENANT_ID=$(echo '${{ secrets.AZURE_CREDENTIALS }}' | jq -r .tenantId)" >> $GITHUB_ENV

      # Step 3: Install Terraform
      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      # Step 4: Install Terragrunt
      - name: Install Terragrunt
        run: |
          curl -Lo terragrunt https://github.com/gruntwork-io/terragrunt/releases/download/v0.54.8/terragrunt_linux_amd64
          chmod +x terragrunt
          sudo mv terragrunt /usr/local/bin/

      # Step 5: Terragrunt Fmt (formatting)
      - name: Terragrunt Format
        working-directory: ${{ matrix.app }}
        run: terragrunt run-all fmt -check=false

      # Run Terragrunt per app
      - name: Terragrunt Init
        working-directory: ${{ matrix.app }}
        run: terragrunt run-all init 

      # Terragrunt Validate
      - name: Terragrunt Validate
        working-directory: ${{ matrix.app }}
        run: terragrunt run-all validate --terragrunt-non-interactive

      # Step 7: Terragrunt Plan
      - name: Terragrunt Plan
        working-directory: ${{ matrix.app }}
        # run: terragrunt run-all plan
        run: terragrunt run-all plan --terragrunt-include-dir app1/dev/network

      # Step 8: Terragrunt Apply
      - name: Terragrunt Apply
        working-directory: ${{ matrix.app }}
        # run: terragrunt run-all apply --terragrunt-non-interactive -auto-approve
        run: terragrunt run-all apply --terragrunt-include-dir app1/dev/network --terragrunt-non-interactive -auto-approve

      # Step 9: Terragrunt Destroy
    #   - name: Terragrunt Destroy
    #     working-directory: app1
    #     run: terragrunt run-all destroy --terragrunt-non-interactive -auto-approve